<div
  onclick={{@onselect}}
  onmouseenter={{action updateHovered true}}
  onmouseleave={{action updateHovered false}}>
  <h3>
    {{@room.name}}
    {{#if @selected}}
      <small>- selected</small>
    {{/if}}
  </h3>
  {{#if state.hovered}}
    <p>
      <span>Area: {{area}}</span>
      <span>Volume: {{volume}}</span>
    </p>
  {{else}}
    <p>
      <span>Length: {{@room.length}}</span>
      <span>Width: {{@room.width}}</span>
      <span>Height: {{@room.height}}</span>
    </p>
  {{/if}}
</div>
