<div>
  <h2>Room details</h2>
  <section>
    <h3>Properties</h3>
    <p>
      <strong>Name</strong>: {{@room.name}}
    </p>
    <p>
      <strong>Length</strong>: {{@room.length}} cm
    </p>
    <p>
      <strong>Width</strong>: {{@room.width}} cm
    </p>
    <p>
      <strong>Height</strong>: {{@room.height}} cm
    </p>
  </section>
  <section>
    <h3>Computed</h3>
    <p>
      <strong>Area</strong>: {{area}} cm<sup>2</sup>
    </p>
    <p>
      <strong>Volume</strong>: {{volume}} cm<sup>2</sup>
    </p>
  </section>
</div>
