<div>
  <section>
    <h2>Batten details</h2>
    <div>
      <label>
        Batten length
        <input type="text" value={{state.batten.length}}> cm
      </label>
    </div>
    <div>
      <label>
        Batten width
        <input type="text" value={{state.batten.width}}> cm
      </label>
    </div>
  </section>
  <section>
    <p>Number of batten by row: {{battenNumberByRow}}</p>
    <p>Number of batten by column: {{battenNumberByColumn}}</p>
    <p>Total number of batten needed: {{totalBattenNumberNeeded}}</p>
  </section>
</div>
